@model data.item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
