@model data.class_student

<h3>Are you sure you want to cancel this?</h3>
<div>
    <h2>Cancel Class Registration</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.classId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedBy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
