@model IEnumerable<web.Models.RegistrationModel>
 <div>
@using (Html.BeginForm("Search", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
     <table width="100%"> 
         <tr>
             <td>
                 <h2>注册管理</h2> 
             </td>
             <td valign="middle" align="right">
                 @Html.TextBox("searchfor")
             </td>
             <td>
                 <input type="submit" Search" id="searchfor" class="btn btn-primary" />
                 @Html.ActionLink("Export", "Export", null, new { @class = "btn btn-primary" })
             </td>
         </tr>
     </table>
}  
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Household)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofStudents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberofConfirmedClasses)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Household)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofStudents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberofConfirmedClasses)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>


