@using Microsoft.AspNet.Identity
@using web.Models
@{
  var db =  new data.bhcsEntities();
  var list = db.messages.Where(m => m.category == "policy").ToList();
  var docs = MessageModel.Documents;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="伯克利华夏中文学校位于美国新泽西州中部伯克利高地小镇, 
          Berkeley Heights Huaxia Chinese School (BHHXCS) is located in Berkeley Heights, NJ 
          (ranked #6 by CNN/Money in the "Best Places to Live-America's Top 50 Small Towns"). " />
    <meta name="keywords" content="Huaxia Chinese school, Berkeley Heights, New Jersey, Chinese language, 
          Cultural classes for both dids and adults, weekend school, nonprofit, for community,huaxia, 华夏中文学校, 新泽西" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Huaxia Chinese School at Berkeley Heights New Jersey</title>
    <link rel="stylesheet" type="text/css" href="/content/themes/base/theme.css">
    <link rel="stylesheet" type="text/css" href="/content/themes/base/base.css"> 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index"><img src="~/Images/bhcsname.png" class="hidden-xs hidden-sm navbar-brand" height="80" width="400" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                       
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">主页<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("主页", "Index", "Home")</li>
                            <li>@Html.ActionLink("学校介绍", "Introduction", "Home")</li>
                            <li>@Html.ActionLink("校委会","SchoolLeadership", "Home")</li>
                            <li>@Html.ActionLink("董事会","Board", "Home")</li>
                        </ul>
                   </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">规章制度<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach(var item in list)
                            {
                               <li>@Html.ActionLink(item.title, "ViewMessage", "Policies", new {id=item.id}, null)</li>
                            }
                            @foreach(var item in docs)
                            {
                                <li><a href='@item.body'>@item.title</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我要注册<span class="caret"></span></a>
                        <ul class="dropdown-menu">
@if (Request.IsAuthenticated){
                            <li>@Html.ActionLink("课程列表", "Index", "bhclasses")</li>
                            }
                            <li>@Html.ActionLink("建立LOGIN", "Register", "Account")</li>
                            <li>@Html.ActionLink("登记家庭信息", "Create", "FamilyAcct")</li>
                            <li>@Html.ActionLink("添加学生", "CreateStudent", "class_student")</li>
                            <li>@Html.ActionLink("注册课程", "Create", "class_student")</li>
                            <li>@Html.ActionLink("注册清单", "Index", "class_student")</li>
                            <li>@Html.ActionLink("注册打印", "Print", "class_student")</li>
                            <li>@Html.ActionLink("Account Balance", "Balance", "class_student")</li>
                        </ul>
                    </li>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
           <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sharing<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("My Items", "Index", "Items")</li>
                       </ul>
                    </li>
            -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">教学管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("课目管理", "Index", "courses")</li>
                            <li>@Html.ActionLink("上课时间", "Index", "timeslots")</li>
                            <li>@Html.ActionLink("教室管理", "Index", "classrooms")</li>
                            <li>@Html.ActionLink("课程管理", "Index", "bhclasses")</li>
                            <li>@Html.ActionLink("家庭管理", "Index", "FamilyAcct")</li>
                            <li>@Html.ActionLink("用户管理", "Index", "members")</li>
                            <li>@Html.ActionLink("消息管理", "Index", "messages")</li>
                            <li>@Html.ActionLink("参数管理", "Index", "configs")</li>
                            <li>@Html.ActionLink("注册管理", "Index", "registration")</li>
                            <li>@Html.ActionLink("注册统计", "Summary", "registration")</li>
                            <li>@Html.ActionLink("现金管理", "Index", "balances")</li>
                        </ul>
                    </li>
                    }
                   
}
                     <li>@Html.ActionLink("联系我们", "Contact", "Home")</li>
                  </ul>
                   @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
   
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p><img src="~/Images/bhhxcslogo.png" width="50" height="50" /> @DateTime.Now.Year -  Berkeley Heights Huaxia Chinese School All Rights Reserved.</p>
                @Html.Partial("~/Views/Shared/_RegistrationSteps.cshtml")
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
