@model data.timeslot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>timeslot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifiedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
